@import "~bootstrap/scss/bootstrap";
@import "_common/common.scss";

/*
RESET  
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// HEADER 
header {
    #menu-top {
        background-color: #2382f9;

        ul {
            li {
                padding: 10px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .container {
        .menu {
            ul {
                li {
                    padding: 10px;

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: #2382f9;
                            border-bottom: 5px solid #2382f9;
                        }
                    }

                }
            }
        }
    }
}

//MAIN
main {
    #jumbotron {
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
            object-fit: content;
        }
    }

    .button {
        color: white;
        background-color: #2382f9;
    }

    background-color: #1c1c1c;

    .container {
        width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }


    .card {
        padding: 15px;
        width: calc(100% / 6);
    }
}